# mIRC-Sicherheitsausschluss
# Ignoriere mIRC-Konfigurationen und Passwörter
*.ini
variables.mrc
secrets.mrc
passwords.txt

# Ignoriere Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Blockiere ausführbare Dateien und mIRC-Anwendungen
*.exe
*.dll
*.log
*.chm
*.chw

